{
  "mcpServers": {
    "supabase": {
      "command": "npx",
      "args": [
        "-y",
        "@supabase/mcp-server-supabase@latest",
        "--project-ref=bfwohzcugtwbhhxdqgme"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "sbp_fdcef517fb4efb45d61f5227612690f778f9d4de"
      }
    }
  }
}
